.splash {
    background-image: url('../../Resources/Images/purple-sky.png');
    background-size: cover;
    background-position: bottom;
    height: 100vh;
}

.title {
    position: absolute;
    display: flex;
    flex-flow: column;
    top: 20%;
    left: 15%;
}

.title h1 {
    color: white;
    font-family: 'Arvo', serif;
    font-size: 4rem;
    letter-spacing: .25rem;
}

.title h3 {
    color: white;
    font-family: 'Arvo', serif;
    font-size: 1.5rem;

}
