.splashImage {
    position: relative;
    z-index: 0;
    width: 100vw;
    background-image: url('../../Resources/Images/purple-sky.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
}

.title {
    position: absolute;
    display: flex;
    flex-flow: column;
    top: 20%;
    left: 15%;
}

.title h1 {
    color: white;
    font-family: 'Arvo', serif;
    font-size: 4rem;
    letter-spacing: .25rem;
}

.title h3 {
    color: white;
    font-family: 'Arvo', serif;
    font-size: 1.5rem;

}

.splash {
    width: 100%; 
}