.createCleanUp {
    height: 100vh;
    background-image: url('../../Resources/Images/beach-road.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.forms {
    height: 60%;
    width: 50%;
    color: darkslategray;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: rgba(255, 255, 255, 0.453);
}

.forms h1 {
    text-transform: uppercase;
    letter-spacing: .3rem;
}

.selectForms {
    display: flex;
    flex-direction: row;
    justify-items: space-evenly;
}

.county, .site {
    margin: 0 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.county select, .site select {
    width: 14rem;
}

.forms button {
    width: 20%;
}

