.navBar {
    position: absolute;
    z-index: 1;
    width: 100vw;
    height: 4rem;
    background-color: white;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Varela Round', sans-serif;
    padding: 1rem;
}


.navBarLink {
    text-decoration: none;
}

.navBarLink:visited {
    color: black;
}

.navBarLink:hover {
    font-weight: 600;
}