

.register {
    background-image: url('../../Resources/Images/purple-sky.png');
    background-size: cover;
    background-position: bottom;
    height: 100vh;
    font-family: 'Oxygen', sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.registerContainer {
    background-color: rgba(255, 255, 255, 0.26);
    padding: 3rem;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.register h1 {
    margin: 1rem 0;
}

.registerMessage {
    color: red;
}

.registerForm {
    width: 10rem;
    font-family: 'Oxygen', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
}

.registerForm label, input{
    margin: 0.25rem 0;
}

.registerForm button {
    color: white;
    font-family: 'Oxygen', sans-serif;
    font-size: 1rem;
    margin-top: 1rem;
    background-color: #45A3D7;
    height: 3rem;
    width: 10rem;
    border-radius: 20px;
}

.registerForm button:active {
    background-color: white;
    color: black;
}

.registerForm button:hover {
    font-family: 'Oxygen', sans-serif;
    font-size: 1rem;
    margin-top: 1rem;
    background-color: rgb(34, 96, 129);
    height: 3rem;
    width: 10rem;
    border-radius: 20px;
}

.registerInput {
    font-size: 1rem;
    background: none;
    border: none;
    border-bottom: 2px solid black;
    text-decoration: none;
    outline: none;
}